definitions:
  app.Response:
    properties:
      code:
        type: integer
      data:
        type: object
      msg:
        type: string
    type: object
info:
  contact: {}
  description: A web of gin
  license: {}
  title: Golang Gin API
  version: "1.0"
paths:
  /api/v1/agent/bind:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: agent_id
        in: body
        name: agent_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 绑定上级
      tags:
      - 代理
  /api/v1/balance:
    get:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: Get 用户获取钱包余额
      tags:
      - 接单
  /api/v1/bank:
    get:
      consumes:
      - application/json; charset=utf-8
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 获取银行卡信息
      tags:
      - 银行卡
  /api/v1/bank/bind:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: bank_name
        in: body
        name: bank_name
        schema:
          type: string
      - description: Bank_branch_name
        in: body
        name: Bank_branch_name
        schema:
          type: string
      - description: bank_card
        in: body
        name: bank_card
        schema:
          type: string
      - description: user_name
        in: body
        name: user_name
        schema:
          type: string
      - description: password
        in: body
        name: password
        schema:
          type: string
      - description: code
        in: body
        name: code
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 绑定银行卡
      tags:
      - 银行卡
  /api/v1/check:
    get:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 用户获取提交的审核信息
      tags:
      - 审核
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: game_id
        in: body
        name: game_id
        schema:
          type: string
      - description: game_server
        in: body
        name: game_server
        schema:
          type: integer
      - description: game_pos
        in: body
        name: game_pos
        schema:
          type: integer
      - description: game_level
        in: body
        name: game_level
        schema:
          type: string
      - description: img_url
        in: body
        name: img_url
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 代练提交或更新段位审核
      tags:
      - 审核
  /api/v1/order:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: 游戏
        in: body
        name: game_type
        schema:
          type: integer
      - description: 订单类型
        in: body
        name: order_type
        schema:
          type: integer
      - description: 代练类型
        in: body
        name: instead_type
        schema:
          type: integer
      - description: 游戏区服
        in: body
        name: game_zone
        schema:
          type: integer
      - description: 铭文等级
        in: body
        name: runes_level
        schema:
          type: integer
      - description: 英雄数量
        in: body
        name: hero_num
        schema:
          type: integer
      - description: 当前段位
        in: body
        name: cur_level
        schema:
          type: integer
      - description: 目标段位
        in: body
        name: target_level
        schema:
          type: integer
      - description: 游戏账号
        in: body
        name: game_acc
        schema:
          type: string
      - description: 游戏密码
        in: body
        name: game_pwd
        schema:
          type: string
      - description: 游戏角色名
        in: body
        name: game_role
        schema:
          type: string
      - description: 验证手机
        in: body
        name: game_phone
        schema:
          type: string
      - description: 保证金
        in: body
        name: margin
        schema:
          type: integer
      - description: 有防沉迷
        in: body
        name: anti_addiction
        schema:
          type: integer
      - description: 有指定英雄
        in: body
        name: designate_hero
        schema:
          type: integer
      - description: 指定英雄
        in: body
        name: hero_name
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 下单
      tags:
      - 下单
  /api/v1/order/all:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: Get 获取订单列表
      tags:
      - 接单
  /api/v1/order/confirm:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: order_id
        in: body
        name: order_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 完成订单
      tags:
      - 订单
  /api/v1/order/finish:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: order_id
        in: body
        name: order_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 完成订单
      tags:
      - 订单
  /api/v1/order/take:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: order_id
        in: body
        name: order_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 接单
      tags:
      - 接单
  /api/v1/order/takelist:
    get:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: Get 代练获取已接单列表
      tags:
      - 接单
  /api/v1/order/userlist:
    get:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: Get 用户获取自己已发单列表
      tags:
      - 接单
  /api/v1/pay:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: order_id
        in: body
        name: order_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 微信下单 获取发起微信支付所需的数据
      tags:
      - 微信支付
  /api/v1/pay/taker:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: order_id
        in: body
        name: order_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 微信接单 获取发起微信支付所需的数据
      tags:
      - 微信支付
  /api/v1/phone/bind:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: phone
        in: body
        name: phone
        schema:
          type: string
      - description: code
        in: body
        name: code
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 绑定手机号 确认绑定的接口
      tags:
      - 绑定手机号
  /api/v1/phone/code:
    get:
      consumes:
      - application/json; charset=utf-8
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: phone
        in: body
        name: phone
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 获取要绑定的手机号的验证码 绑定手机时使用
      tags:
      - 绑定手机号
  /api/v1/phone/code2:
    get:
      consumes:
      - application/json; charset=utf-8
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 获取已绑定手机号的验证码
      tags:
      - 手机验证码
  /api/v1/team:
    post:
      parameters:
      - description: owner_id
        in: body
        name: owner_id
        schema:
          type: integer
      - description: 游戏
        in: body
        name: game_type
        schema:
          type: integer
      - description: 游戏大区
        in: body
        name: big_zone
        schema:
          type: integer
      - description: 起始段位
        in: body
        name: cur_level
        schema:
          type: integer
      - description: 结束段位
        in: body
        name: target_level
        schema:
          type: integer
      - description: 代练发布最多2人，用户发布只能1人
        in: body
        name: need_num
        schema:
          type: integer
      - description: 代练发布可以设置是否需要密码
        in: body
        name: need_pwd
        schema:
          type: integer
      - description: 密码
        in: body
        name: pwd
        schema:
          type: string
      - description: contact
        in: body
        name: contact
        schema:
          type: string
      - description: 微信
        in: body
        name: qq
        schema:
          type: string
      - description: description
        in: body
        name: description
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 下单
      tags:
      - 车队
  /api/v1/team/join:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: team_id
        in: body
        name: team_id
        schema:
          type: integer
      - description: 起始段位
        in: body
        name: cur_level
        schema:
          type: integer
      - description: 结束段位
        in: body
        name: target_level
        schema:
          type: integer
      - description: contact
        in: body
        name: contact
        schema:
          type: string
      - description: 微信
        in: body
        name: qq
        schema:
          type: string
      - description: description
        in: body
        name: description
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 加入车队
      tags:
      - 车队
  /api/v1/team/joincheck:
    post:
      parameters:
      - description: team_id
        in: body
        name: team_id
        schema:
          type: integer
      - description: pwd
        in: body
        name: pwd
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 验证密码 用户是否可以加入车队
      tags:
      - 车队
  /api/v1/teampay:
    post:
      parameters:
      - description: user_id
        in: body
        name: user_id
        schema:
          type: integer
      - description: team_id
        in: body
        name: order_id
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 微信下单 获取发起微信支付所需的数据
      tags:
      - 微信支付
  /check/admin:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: Get 管理员获取审核列表
      tags:
      - 审核
  /check/admin/{user_id}:
    put:
      parameters:
      - description: State -1/1
        in: body
        name: state
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 管理员进行审核
      tags:
      - 审核
  /login:
    post:
      parameters:
      - description: sessionKey
        in: body
        name: session_key
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 微信登陆接口 发送code获取session_key
      tags:
      - 登陆
  /upload:
    post:
      parameters:
      - description: Image File
        in: formData
        name: image
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 上传段位审核截图
      tags:
      - 审核
  /wxlogin:
    post:
      parameters:
      - description: code
        in: body
        name: code
        schema:
          type: string
      - description: nickname
        in: body
        name: nickname
        schema:
          type: string
      - description: avatar_url
        in: body
        name: avatar_url
        schema:
          type: string
      - description: gender
        in: body
        name: gender
        schema:
          type: integer
      - description: province
        in: body
        name: province
        schema:
          type: string
      - description: city
        in: body
        name: city
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/app.Response'
      summary: 微信登陆接口 发送code获取session_key
      tags:
      - 登陆
swagger: "2.0"
